<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day1</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <h1
      class="font-serif text-xl flex-wrap justify-center text-black font-style: italic;"
    >
    <div class="flex flex-wrap justify-center">
        <img
          src="{{url_for('static',filename='images/top5.jpg')}}"
          class="w- mb-4 mr-4"
        />
        <div class="w-full md:w-1/2 xl:w-2/3 p-5 mx-5">
          <div class="outline-black rounded-lg bg-red-200 px-10 h-200 w-2000">
            <h2 class="text-3xl text-black-300 font-bold text-center">
              DAY 1
            </h2>
            <p class="italic font-serif font-bold text-xl">
            
            Code Craft-Mastering Flask</p>
<p class="italic font-serif text-xl">
 Day 1: Quiz and Filtering
Objective: To assess participants' basic knowledge of web development and programming concepts, and to select participants for the next stages based on their performance.
Activities included brief welcome and overview of the event's objectives and structure.
  Quiz: A structured quiz covering topics such as:
    - Basic Python programming
    - HTML/CSS fundamentals
    - Basic Flask framework concepts
    - General web development knowledge
    Filtering: Based on quiz results, participants are selected to continue to the next stage. Criteria for selection can include score thresholds or relative performance metrics
</p>
    </h1>
    <div class="flex flex-wrap justify-end">
      <img
        src="{{url_for('static',filename='images/day1.jpg')}}"
         class="w- mb-4 mr-4"
      />
    </div>
  </body>
</html>
