<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day2</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <h1
      class="font-serif text-xl flex-wrap justify-center text-black font-style: italic;"
    >
    <div class="flex flex-wrap justify-center">
        <img
          src="{{url_for('static',filename='images/day2.jpg')}}"
          class="w- mb-4 mr-4"
        />
        <div class="w-full md:w-1/2 xl:w-2/3 p-5 mx-5">
          <div class="outline-black rounded-lg bg-red-200 px-10 h-200 w-2000">
            <h2 class="text-3xl text-black-300 font-bold text-center">
              DAY 2
            </h2>
            <p class="italic font-serif font-bold text-xl">
            
                Code Craft-Mastering Flask</p>
    <p class="italic font-serif text-xl">
 Day 1: Peer to Peer session
Objective:To mix fun with learning , Teach coding clearing doubts and fixing errors for an improved coding experience
  Enhancing coding Skills THrough engagement and support
    - Web development
    - Advanced HTML & tailwindcss
    - Flask framework concepts
    - Debugging
    Fostering a collaborative and enriching experience for all involved
    
</p>
    </h1>
    <div class="flex flex-wrap justify-end">
      <img
        src="{{url_for('static',filename='images/lab.jpg')}}"
         class="w- mb-4 mr-4"
      />
    </div>
  </body>
</html>
