<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day3</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body>
    <h1
      class="font-serif text-xl flex-wrap justify-center text-black font-style: italic;"
    >
    <div class="flex flex-wrap justify-center">
        <img
          src="{{url_for('static',filename='images/day3.jpg')}}"
          class="w- mb-4 mr-4"
        />
        <div class="w-full md:w-1/2 xl:w-2/3 p-5 mx-5">
          <div class="outline-black rounded-lg bg-red-200 px-10 h-200 w-2000">
            <h2 class="text-3xl text-black-300 font-bold text-center">
              DAY 3
            </h2>
            <p class="italic font-serif font-bold text-xl">
            
                Code Craft-Mastering Flask</p>
    <p class="italic font-serif text-xl">
 Day 3: Create a website with organisers
Objective:Building coding abilities by collaboratively crafting a webpage, fostering practical web development skills 
and knowledge among participants
    - Web development
    - Advanced HTML & tailwindcss
    - Flask framework concepts
    - Debugging
    Levelling up coding skills and web development expertise
    
</p>
    </h1>
    <div class="flex flex-wrap justify-end">
      <img
        src="{{url_for('static',filename='images/final.jpg')}}"
         class="w-120 mb-4 mr-4"
      />
    </div>
    <button
        class="bg-blue-800 text-white px-5 py-3 justify-end rounded-lg "
        onclick="location.href='/aboutus'"
      >
        GOBACK:(
      </button>
  </body>
</html>












